@keyframes colorChange {
	0% {
		color: yellow;
	}

	50% {
		color: blue;
	}

	100% {
		color: green;
	}
}


.header {
	background: #fff;
	// position: fixed;
	z-index: 9999;
	left: 0;
	width: 100%;
	// display: none;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	;

	&__main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

	}

	&__logo {
		width: 75px;
		height: auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__menu {
		ul {
			display: flex;
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				font-size: 16px;
				margin-right: 10px;
				font-weight: 700;

				a{
					&:hover{
						text-decoration: none;
						transition: all 0.5s;
					}
				}

				&:hover {
					color: var(--color-one);
					transition: all 0.5s;
				}
			}
		}
	}

	&__login {
		color: var(--color-text);
		display: flex;
		align-items: center;
		font-size: 16px;

		:hover {
			color: var(--color-one);
			transition: all 0.5s;
		}

		a {
			font-weight: 600;
		}

		i {
			margin-right: 5px;
		}
	}

	&__creadiable {
		padding: 10px 20px;
		border: solid 1px #a1a1a16b;
		border-radius: 10px;
	}

	&__bar{
		display: none;
	}
	@media (max-width: 767.98px){
		&__bar{
			display: block;
		}
		&__menu{
			display: none;
		}
	}
}

// Home Search
.home-search {
	background: url(../images/background.png);
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	display: flex;

	&__main {
		max-width: 600px;
		background: #ffffffd0;
		text-align: center;
		margin: 0 auto;
		padding: 50px 40px;

	}

	&__title {
		font-size: 40px;
		max-width: 200px;
		text-align: center;
		margin: 0 auto;
		color: #000;
	}

	&__list {
		margin-top: 20px;

		&--item {
			display: block;
			background: #fff;
			padding: 5px 10px;
			border: solid 1px #fff;
			border-radius: 5px;
			margin-bottom: 20px;
			width: 100%;
		}
	}
}

// End Home Search

// Mua bán bất động sản
.mua-ban-bds {
	margin-top: 60px;

	&__title {
		position: relative;
		margin-bottom: 40px;
		padding-bottom: 10px;
		text-align: left;
		

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			background: var(--color-one);
			width: 60px;
			height: 4px;
		}
	}

	&__box {
		display: inline-block;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		margin-bottom: 20px;
		border-radius: 5px;
	}

	&__content {
		padding: 10px;
		flex-wrap: wrap;

		&--title {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 17px;
			font-weight: 500;
			color: #000;
		}

		&-stat {
			&-price {
				color: var(--red);
			}

			&-area {
				color: var(--red);
			}

		}

		&-address {
			font-style: italic;
			color: #000;
		}
	}

	&__image {
		width: 100%;
		height: auto;
		position: relative;
		overflow: hidden;
		border-top-left-radius: 5px;
			/* Bo tròn góc trên bên trái */
			border-top-right-radius: 5px;
		img {
			width: 100%;
			height: 100%;
			border-top-left-radius: 5px;
			/* Bo tròn góc trên bên trái */
			border-top-right-radius: 5px;
			transition: transform 0.5s ease;
			position: relative;

		}

		:hover {
			transform: scale(1.3);
		}

		&--label {
			position: absolute;
			top: 0;
			left: 0;
			background: var(--red);
			padding: 5px;
			color: #fff;
			animation: colorChange 2s infinite;
		}

	}
}

// Kết thúc Mua bán bất động sản

// Bất động sản theo địa điểm
.bds-by-place {
	margin-top: 60px;
	padding-bottom: 440px;
	&__box-big {
		position: relative;
		margin-bottom: 30px;

		&::after {
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 70%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
			border-radius: 4px;
			transform: rotate(-180deg);
			position: absolute;
		}
		&--desc {
			position: absolute;
			top: 0;
			left: 0;
			padding-top: 16px;
			padding-left: 16px;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			color: #fff;
			cursor: pointer;
			z-index: 1;

			&:hover{
				text-decoration: underline;
				color: #fff;
		
			}
		}

		&--image {
			width: 100%;
			height: 100%;
			
			img {
				width: 100%;
				height: 100%;
				border-radius: 5px;

			}
		}

	
	}
	

	&__box-small {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		


		&-list {
			position: relative;
			margin: 9px;
			width: 45%;

			&--desc {
				position: absolute;
				top: 0;
				left: 0;
				padding-top: 16px;
				padding-left: 16px;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				color: #fff;
				cursor: pointer;
				z-index: 1;
				&:hover{
					text-decoration: underline;
    			color: #fff;
				}
			}

			&--image {
				width: 100%;
				height: 100%;
				&::after {
					content: "";
					top: 0;
					left: 0;
					width: 100%;
					height: 70%;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
					border-radius: 4px;
					transform: rotate(-180deg);
					position: absolute;
				}
				img {
					width: 100%;
					height: 100%;
					border-radius: 5px;
				}
			}

		}
	}
}

// Kết thúc Bất động sản theo địa điểm

// Footer
.footer{
	background: var(--color-one);
	padding: 50px 0;
	// margin-top: 60px;
	// position: absolute;
	width: 100%;
	// bottom: 0;
	&__content{
		display: flex;
		flex-wrap: wrap;
	}	
	&__info{
		color: #fff;
		width: 250px;
		padding-right: 10px;	

		strong{
			font-size: 18px;
		}
	}
	&__danhmuc{
		width: 250px;	
		&--title{
			font-weight: 600;
			margin-bottom: 10px;
			font-size: 18px;
			position: relative;
			padding-bottom: 5px;
			&::before{
				content: '';
				height: 2px;
				width: 100px;
				background: #fff;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
		color: #fff;
		a{
			color: #fff;
			&:hover{
				color: #fff;
			}
		}
	}
	&__cskh{
		width: 250px;	
		color: #fff;

		&--title{
			margin-bottom: 10px;
			font-weight: 600;
			font-size: 18px;
			position: relative;
			padding-bottom: 5px;
			&::before{
				content: '';
				height: 2px;
				width: 100px;
				background: #fff;
				position: absolute;
				bottom: 0;
				left: 0;
				
			}
		}
	}
	&__social{
		width: 250px;	
		color: #fff;
		&--title{
			margin-bottom: 10px;
			font-weight: 600;
			font-size: 18px;
			position: relative;
			padding-bottom: 5px;
			&::before{
				content: '';
				height: 2px;
				width: 100px;
				background: #fff;
				position: absolute;
				bottom: 0;
				left: 0;
				
			}
		}
		a{
			color: #fff;
			font-size: 30px;
			i{
				margin-right: 10px;
			}
		}
	}
}
// End Footer

