@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-text: #223d3c;
    --color-one: #245593;
    --color-two: #E1BD4E;
    --color-bg: #fff;
    --font-family : "Open Sans", serif;
}

body{
    font-family: var(--font-family);
}

a{
    text-decoration: none;
    color: var(--color-text);
}

a:hover{
    text-decoration: none;
    color: var(--color-text);
}

.button{
    display: inline-block;
    background: #fff;
    padding: 10px 20px;
    width: 160px;
    border-radius: 30px;
}

.button-one{
    background-color: var(--color-one);
    color: #fff;
}
.button-one:hover{
    background: var(--color-two);
    color: #fff;
    transition: all 0.3s;
}

.inner-title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

/*Expand Button */
#content {
    display: flex;
    flex-wrap: wrap;
}
#expandBtn, #loadMoreBtn{
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px 20px;
    border: solid 1px #000;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    i{
        margin-left: 10px;
    }
}
/*End Expand Button */